// Container card border/shadow

@mixin cardShadow() {
	padding: 10px;
	border-top: 5px solid $gray;
	border-bottom: 1px solid $gray;
	border-right: 1px solid $gray;	
	border-left: 1px solid $gray;	
}

@mixin darkShadow() {
	padding: 10px;
	border-top: 5px solid $text;
	border-bottom: 1px solid $text;
	border-right: 1px solid $text;	
	border-left: 1px solid $text;	
}

@mixin actionShadow() {
	padding: 10px;
	border-top: 5px solid $hilight;
	border-bottom: 1px solid $hilight;
	border-right: 1px solid $hilight;	
	border-left: 1px solid $hilight;	
}

@mixin containerHeader() {
	position: relative;
	top: -25px;
	left: -10px;
	color: $finaldblue;
	width: max-content;
	border-bottom: 4px solid $hilight;
	display: inline-block;
}

@mixin subheading() {
	padding: 1px;
	border-bottom: 2px solid $gray;

	display: inline-block;
	color: $text;
}