.featuredBroadcast__container {
	grid-column: content;
	border-top: 5px solid $gray;
	border-bottom: 1px solid $gray;
	border-right: 1px solid $gray;	
	border-left: 1px solid $gray;	
	padding: 10px;


	.featured__description {
		margin-top: 10px;
		width: 448px;
	}
}


// git c