.featuredBroadcast__container {
	@include cardShadow();
	@include cardShadow();
	display: grid;
	grid-gap: 0 25px;
	grid-template-columns: [header] 200px [video] fit-content(600px) [products] auto;
	grid-template-rows: [header] auto [video] 450px [products] fit-content(1000px) [end] auto;

	.container-header {
		@include containerHeader();
		grid-column: header / products;
		margin-bottom: 0;
		font-family: Poppins;

		a {
			font-family: Poppins;
			color: $finaldblue;
		}
	}

	.featured__description {
		grid-column: header / products;
		grid-row: products / products;
		margin-top: 10px;
		@include actionShadow();
		background: $finaldblue;
		color: white;
		padding: 15px;
	}


	.featuredVid__container {
		grid-column: header / products;
		grid-row: video / video;
	}

	.featuredChat__container {
		grid-column: products;
		grid-row: header / end;
	}
}


// git casfeaefes