.merchantHome__container {
	max-width: 800px;

} 

.mercOverview__container {
	@include cardShadow();
	margin-bottom: 25px;
	padding: 10px;
	color: $text;

	.mercOverview__title {
		@include containerHeader();
		display: inline-block;
	}

	.edit-profile {
		float: right;
	}


	.mercOverview__profile {
		display: grid;
		grid-template-columns: [col1] 50% [col2] 50%;
		line-height: 2;

		.mercOverview__profile--part1 {
			grid-column: col1;
		}	
	}
}


// Merchant Statistics
.mercStats__container {
	@include cardShadow();
	color: $text;
	padding: 10px;


	.mercStats__content {
		display: grid;
		grid-template-columns: [col1] 50% [col2] auto;
		grid-column-gap: 15px;
		line-height: 2;

		.mercStats__content--part1 {
			display: block;
			grid-column: col1;
		}	

		.mercStats__content--part2 {
			grid-column: col2;

			img {
				width: 100%;
				max-height: 100%;
			}
		}	
	}




	h3 {
		@include containerHeader();
		display: inline-block;

	}
}