// button styles
.btn--nav {
	margin: 0 5px;
	padding: 5px;
	border: 2px solid $gray;
	font-weight: bold;
	background: $ortan;
	font-size: 1.5em;


	&:hover {
		background: lighten($ortan, 15);
		transition: 0.25s;
		border: 1px solid $text;
		padding: 5px 10px;
	}

	&:visited {
		color: $text;
	}
}

.btn--profile {
	background: $hilight;
	padding:10px 2.2em 10px 10px;
	border-radius: 5px;
	&:hover {
		background: $lblue;
	}

}
.btn--profile:before {
    content: "\f007";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    transform: translateZ(0);
    transition-duration: 0.1s;
    transition-property: transform;
    transition-timing-function: ease-out;

}


.btn--action {
	margin: 0 5px;
	padding: 5px;
	border: 1px solid #777;
	font-weight: bold;
	font-size: 1.75em;
	background: $hilight;
	text-align: center;
	&:hover {
		background: lighten($ortan, 10);
		transition: 0.5s;
	}

	&:visited {
		color: $text;
	}
}

.btn--filter {
	background: $finaldblue;
	padding:10px 2.2em 10px 10px;
	margin: 0 5px;
	border: 2px solid $gray;
	color: $lmarble;
	text-align: center;
	vertical-align: middle;
	font-size: 1.5em;

	&:hover {
		background: $hilight;
		transition: 0.5s;
		border: 1px solid $text;
		padding:10px 2.2em 10px 10px;
	}

	&:visited {
		color: $ortan;
	}
}