// media queries 
@media only screen and (min-width: 1000px) {
	.mainContent__container {
		display:grid;
		grid-template-columns: [sidebar] 200px [content] fit-content(2000px);
		grid-gap: 10px;
		margin: 15px 0;
		margin-right: 15px;
	}
}

@media only screen and (max-width: 1000px) {
	.mainContent__container {
		display:grid;
		grid-template-columns: [content] fit-content(100%);
		grid-gap: 10px;
		margin: 15px;

		.sidebar__container {
			display: none;
		}
	}
}