.sidebar__container {
	display: block;
	filter: grayscale(30%);
	color: $ortan;
	background: #3E3E4E;
	background-size: 100%;
	padding: 5px;
	box-shadow: 1px 1px 2px $gray;
	overflow: hidden;
	overflow-wrap: break-word;
	z-index: 9999;


	a {
		&:visited {
			color: $ortan;
			text-decoration: overline; // Todo, make link styles for sidebar links
		}
	}
}

.sidebar__tabs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	margin-bottom: 10px;
}

.sidebar__container--search {
	margin: 25px 10px;
	.sidebar-submit {
		margin: 5px 0 5px 0;

		&:hover {
			background: $finaldblue;
			color: $hilight;
			transition: 0.5s;
		}
	}


}