.sidebar__container {
	display: block;
	filter: grayscale(30%);
	color: $ortan;
	background: #3E3E4E;
	background-size: 100%;
	padding: 15px;
	box-shadow: 1px 1px 2px $gray;
	overflow: hidden;
	overflow-wrap: break-word;
	z-index: 9999;


	a {
		&:visited {
			color: $ortan;
			text-decoration: overline; // Todo, make link styles for sidebar links
		}
	}
}

