@import 'libs/hover';
@import 'libs/normalize';

@import 'vars';

@import 'header';
@import 'footer';
@import 'buttons';
@import 'content';
@import 'main';
@import 'sidebar';

// Customer
@import 'customer/featured';

// Merchant
@import 'merchant/mercHome';

body {
	background: $lmarble;
	box-sizing: border-box;
	font-family: comfortaa;
	line-height: 1.25;
	color: $text;
}

* {
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: Poppins;
}

a, h4, h5, h6 {
	font-family: Poiret;

	&:visited {
		color: $lmarble;
	}
}



p {
	font-family: comfortaa;
	font-size: 12px;
}