@import 'libs/hover';
@import 'libs/normalize';

@import 'vars';
@import 'mixins/mixins';

@import 'header';
@import 'footer';
@import 'content';
@import 'main';
@import 'sidebar';
@import 'btn';

// Customer
@import 'customer/featured';
@import 'customer/browse';
@import 'customer/browseStreams.scss';
@import 'customer/browseProducts.scss';

// Merchant
@import 'merchant/mercHome';
@import 'merchant/broadcastView';
@import 'merchant/merchant';

// Product
@import 'products/productTable';
@import 'products/addProductForm';

html {
	font-size: 12px;

	h1 {
		font-size: 2.2rem;
	}

	h2 {
		font-size: 2rem;

	}

	h3 {
		font-size: 1.8rem;

	}

	h4 {
		font-size: 1.6rem;
	}

	h5 { 
		font-size: 1.4rem;
		margin: 0;
	}

	h6 {
		font-size: 1.2rem;
	}
}

* {
	box-sizing: border-box;
}

body {
	background: $lmarble;
	box-sizing: border-box;
	font-family: comfortaa;
	line-height: 1.25;
	color: $text;

}


h1, h2, h3, h4, h5, h6 {
	font-family: Poppins;
}
a {
	font-family: Poiret;
	text-decoration: none;
	font-weight: bold;
	color: #777;
	&:visited {
		color: #777;
	}
}

span, input[type="submit"], label {
	font-family: Poiret;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;

}

p {
	font-family: comfortaa;
	font-size: 1em;
}

input {
	padding: 6px;

	&:focus {
		background: lighten($ortan, 15);
		transition: 0.25s;
	}
}

// Conditional Styles

.hidden {
	display: none;
}
.clear { clear: both; }

.sub-heading {
	@include subheading();
}

.container-header {
	@include containerHeader();
}