@import 'libs/hover';

@import 'vars';
@import 'normalize';

@import 'header';
@import 'footer';
@import 'buttons';
@import 'content';
@import 'main';
@import 'sidebar';
@import 'app';

body {
	background: $lmarble;
	box-sizing: border-box;
	color: $text;

}

