// Final Color Scheme
$lightpurp: #c6bad1;
$lmarble: #faf6f0;
$gray: #dedddb;
$text: #33383a;


// Logo colors #3E3E4E;
$finaldblue: #3E3E4E;
$ortan: #fbbe83;
$lblue: #59ADDC;



// fonts
@font-face {
    font-family: Delhi;
    src: url('assets/fonts/Delhi.ttf');
}

@font-face {
    font-family: comfortaa;
    src: url('assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: Forum;
    src: url('assets/fonts/Forum-Regular.ttf');
}

@font-face {
    font-family: Poiret;
    src: url('assets/fonts/Poiret.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/Poppins-Regular.ttf');
}