// Final Color Scheme
$finaldblue: #3E3E4E;
$ldblue: lighten($finaldblue, 15);
$ortan: #fbbe83;
$lortan: lighten($ortan, 15);
$lblue: #59ADDC;
$hilight: complement($ortan);
$lmarble: #faf6f0;
$gray: #dedddb;
$text: #33383a;

// fonts
@font-face {
    font-family: Delhi;
    src: url('assets/fonts/Delhi.ttf');
}

@font-face {
    font-family: comfortaa;
    src: url('assets/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: Forum;
    src: url('assets/fonts/Forum-Regular.ttf');
}

@font-face {
    font-family: Poiret;
    src: url('assets/fonts/Poiret.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('assets/fonts/Poppins-Regular.ttf');
}


// git csdfsaefa