/* Playful Greens & Blues */
$dblue: #324851;
$green: #86AC41;
$teal: #34675c;
$mist: #7DA3A1;

/* Fresh & Energetic */
$bluesky: #4CB5F5;
$granite: #B7B8B6;
$pine: #34675C;
$fields: B3C100;


/* blue, green, orange, yellow, gray */

// Summer Sunflower
$blue: #34888C;
$leafy: #7CAA2D;
$sunflower: #F5E356;
$seeds: #CB6318;

// grays
$slate: #626D71;
$ceramic: #CDCDC0;

// aqua
$deepaqua: #004D47;

// tans
$marbe: #F3EBDD;

